.banner {
 
    background: var(--azul-gradiente);
    color: var(--branco);
    text-align: center;
    padding:2.5em 2em;
}

.banner_titulo {
    font-size: 1.125em;
    font-weight: 700;
}

.banner_texto{
    font-weight:500;
    margin: 1em 0;
}

.banner_pesquisa {
    background: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    color: var(--branco);
    padding: 1em;
    width: 100%;
}

.banner_pesquisa::placeholder{
    font-family: var(--font-principal);
    font-size: 0.875em;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/lupa.svg")no-repeat;
    background-position: 0.5em;
}

@media screen and (min-widtg: 820px){
    .banner_titulo{
        font-size: 2.25em;
    }

    .banner_pesquisa{
        width:50%;
    }
}

@media screen and (min-widtg: 1366px){
  .banner_pesquisa{
    width: 40%;
  }
  .banner_pesquisa::placeholder{
    background-position: 5em;
  }
  .banner{
    padding: 6em 0;
  }
}

@media screen and (min-widtg: 1728px){
   .banner_pesquisa{
    width: 30%;}

    .banner_pesquisa::placeholder{
        background-position: 5em;
    }
   
    .banner{
        padding: 6em 0;
    }
   
}


